div{
    border: double 5px red;

    height:200px;
    width:200px;
    background-color:blueviolet;
    font-size:100px;
    transition-timing-function: ease-in;
    transition:4s, background-color 3s;
    transition-delay:1s;
    padding: 10px;
  
}

div:hover{
    width:600px;
    height:100px;
    background-color:aqua;
    color:gray;
} 